@import "@fontsource/poppins";

@purple: #8e2ad6;

body {
  margin: 0 30px;
  font-family: "Poppins";
  background: #f1f1f1;
}

h1,h2,h3,h4 {
  font-weight: 500;
}

.App {
  font-size: 1.2em;
  margin: 10px auto;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: @purple;
  border-bottom: 1px dotted;
}

.header h1 {
  font-size: 1.5em;
  color: @purple;
  padding-bottom: 10px;
  border-bottom: 2px solid;
}